moviepy
opencv-python-headless
librosa
scikit-learn
scipy
numpy
SQLAlchemy
tqdm
opencv-python
matplotlib
mtcnn
torch
pillow
facenet_pytorch
tensorflow
keras-facenet
fastapi
uvicorn
fastui
nicegui
pydantic