moviepy~=1.0.3
opencv-python-headless
librosa~=0.10.1
scikit-learn~=1.4.1.post1
scipy
numpy~=1.26.4
SQLAlchemy~=2.0.27
tqdm~=4.66.2
opencv-python~=4.9.0.80
matplotlib
mtcnn~=0.1.1
torch~=2.2.1+cu121
pillow~=10.2.0
facenet_pytorch
tensorflow
keras-facenet
annoy
fastapi~=0.109.2
uvicorn~=0.27.1
fastui
nicegui~=1.4.17